<nav class="navbar navbar-light navbar-expand-lg" style="background-color: #b0dcfc;">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="'/'">Angular №16</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" [routerLink]="''" [routerLinkActive]="'active'"
          [routerLinkActiveOptions]="{ exact: true }">Home</a>
        <a class="nav-link" [routerLink]="'/user'" [routerLinkActive]="'active'"
          [routerLinkActiveOptions]="{ exact: true }">Users</a>
      </div>
    </div>
  </div>
</nav>
